html, body {
    margin: 0;
    height: 100%;
    width: 100%;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5;
	color: white;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	color: rgb(41, 128, 185);
}

a {
	text-decoration: none;
	color: rgb(41, 128, 185);
	font-weight: bold;
}

p a:hover {
	text-decoration: underline;
}

#main {
	position: relative;
	background-color: #333;
	overflow: hidden;
}

#left-half {
	height: 100%;
	width: 34%;
	background: rgb(41, 128, 185); 
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 10;
}

#left-half #info {
	float: left;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#left-half #info img {
	width: 250px;
	height: 250px;
	border: 5px white solid;
	border-radius: 10px;
}

#left-half #info h1 {
	font-size: 1.5em;
	text-transform: uppercase;
	font-family: 'Montserrat';
	color: white;
}

#left-half #info ul {
	list-style: none;
	font-size: 1em;
	overflow: hidden;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
}

#left-half #info ul li {
	float: left;
	padding: 0;
}

#left-half #info ul li:after {
	content: "|";
	padding: 5px;
}

#left-half #info ul li:last-child:after {
	content: "";
	padding: 0;
}

#left-half #info ul li a {
	text-decoration: none;
	color: white;
}

#left-half #info ul li a:hover {
	text-decoration: underline;
}

#right-half {
	width: 60%;
	padding: 0 3%;
	float: right;
	background: white;
	color: #3f3f3f;
	position: relative;
}

.arrow {
	width: 4%;
	margin: 2.5%;
	position: fixed;
	right: 28.5%;
	z-index: 9;
}

.arrow path {
	fill: rgb(41, 128, 185);
	opacity: 0.5;
}

.arrow svg {
	width: 100%;
	height: 100%;
}

.arrow.up {
	top: 0;
}

.arrow.down {
	bottom: 0;
}

.scroll-screen, .top-level {
	float: left;
	width: 100%;
}

#right-half section {
	overflow: hidden;
	float: left;
}

#right-half section:first-child {
	padding-left: 0;
}

#right-half section h1 {
	font-size: 2em;
	margin: 25px 0;
	border-bottom: 3px rgb(41, 128, 185) solid;
	text-transform: uppercase;
	font-family: 'Montserrat';
}

.folio-entry {
	margin: 100px 0;
}

#resume p {
	margin: 0;
}

#resume h2 {
	display: inline-block;
	font-family: 'Montserrat';
	text-transform: uppercase;
	border-bottom: 3px rgb(41, 128, 185) solid;
	margin-bottom: 25px;
}

#resume h3 {
	font-family: 'Montserrat';
	display: block;
	color: #333;
}

#resume .education-item {
	margin-bottom: 25px;	
}

#resume ul {
	list-style: none;
	margin: 0 auto;
	position: relative;
}

#resume ul li {
	margin: 20px auto;
}

#resume ul li:first-child {
	margin-top: 0;
}

#experience ul li:hover:before {
	content: "\25b6";
	position: absolute;
	left: 0;
	color: rgb(41, 128, 185);
	font-weight: bold;
}

#experience ul li ul li:hover:before {
	content: "";
}

#resume ul li ul {
	display: none;
	list-style: disc;	
	padding-left: 6%;
}

#resume ul li ul li {
	margin: 0 auto;
}

#resume ul li h4 {
	color: rgb(41, 128, 185);
}

#resume ul li h5 {
	font-style: italic;
	color: #333;
}

#folio section h2 {
	font-family: 'Montserrat';
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.8em;
	margin: 10px 0;
}

.folio-entry-img {
	height: 200px;
	background-repeat: no-repeat;
	background-position: top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border: 5px rgb(41, 128, 185) solid;
	border-radius: 10px;
}

.folio-entry-img.vials {
	background-image: url('../img/vials.png');
}

.folio-entry-img.a {
	background-image: url('../img/crimson.png');
}

.folio-entry-img.b {
	background-image: url('../img/marathon.png');
}

.folio-entry-img.c {
	background-image: url('../img/survey.png');
}

.folio-entry-img.d {
	background-image: url('../img/lost-and-found.png');
}

.folio-entry-img.e {
	background-image: url('../img/hackers.png');
}

.folio-entry-img.f {
	background-image: url('../img/smith.png');
}

.disable-select {
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
	cursor: default;
}


@media(max-width: 950px) {
	body {
		font-weight: 300;
	}

	#left-half {
		position: static;
		float: left;
		width: 100%;
	}
	#right-half {
		width: 94%;
	}
	.arrow {
		right: 43.5%;
		width: 8%;
	}
}

@media(max-width: 400px) {
	html, body {
		font-weight: bold;
	}
}