html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #003e67; }

a {
  text-decoration: none;
  color: #003e67; }
  a:hover {
    text-decoration: underline; }

ul {
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0; }

p {
  margin: 0.5rem 0; }

section h1 {
  padding: 0.5rem 0; }

#main {
  position: relative;
  background-color: #333333;
  overflow: hidden; }

#left-half {
  display: table;
  height: 100%;
  width: 34%;
  background: #003e67;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  color: white; }

#info {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 100%;
  text-align: center; }
  #info img {
    width: 250px;
    height: 250px;
    border-radius: 10px; }
  #info h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: white; }
  #info ul {
    list-style: none;
    font-size: 1rem;
    overflow: hidden;
    padding: 0;
    margin: 0 auto;
    display: inline-block; }
    #info ul li {
      float: left;
      padding: 0; }
      #info ul li:after {
        content: "|";
        padding: 5px; }
        #info ul li:after:last-child {
          content: "";
          padding: 0; }
      #info ul li a {
        text-decoration: none;
        color: white; }
        #info ul li a:hover {
          text-decoration: underline; }

#right-half {
  width: 60%;
  padding: 0 3%;
  float: right;
  background: white;
  color: #3f3f3f;
  position: relative; }

.arrow {
  display: none;
  width: 4%;
  margin: 2.5%;
  position: fixed;
  right: 28.5%;
  z-index: 9; }
  .arrow.up {
    top: 0; }
  .arrow.down {
    bottom: 0; }
  .arrow path {
    fill: #003e67;
    opacity: 0.5; }
  .arrow:hover path {
    opacity: 1; }
  .arrow svg {
    width: 100%;
    height: 100%; }

#right-half section {
  position: relative;
  float: left;
  width: 100%;
  min-height: 80vh;
  padding: 10vh 0;
  display: table; }
  #right-half section .scroll-screen {
    display: table-cell;
    vertical-align: middle; }

#right-half section:first-child {
  padding-left: 0; }

#right-half section h1 {
  font-size: 2rem;
  border-bottom: 1px #003e67 solid;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif; }

.folio-entry {
  margin: 100px 0; }

#resume h2 {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  border-bottom: 1px #003e67 solid;
  margin-bottom: 25px; }

#resume h3 {
  font-family: "Montserrat", sans-serif;
  display: block;
  color: #333333; }

#resume .education-item {
  margin-bottom: 25px; }

.experience .scroll-screen h3 {
  margin-bottom: 0; }
.experience .scroll-screen > ul:not(:last-child) {
  margin-bottom: 10px; }
.experience .scroll-screen > ul > li {
  margin: 0;
  float: left;
  margin: 5px 0;
  padding: 10px;
  clear: both;
  width: 100%;
  box-sizing: border-box; }
  .experience .scroll-screen > ul > li:hover, .experience .scroll-screen > ul > li.selected {
    box-shadow: inset 0px 0px 0px 1px #003e67;
    border-radius: 10px; }
  .experience .scroll-screen > ul > li > ul {
    margin: 5px 0;
    display: none;
    float: left;
    padding-left: 20px;
    list-style: none;
    font-size: 0.85rem; }
    .experience .scroll-screen > ul > li > ul > li {
      position: relative; }
      .experience .scroll-screen > ul > li > ul > li:not(:last-child) {
        margin-bottom: 5px; }
      .experience .scroll-screen > ul > li > ul > li:before {
        position: absolute;
        left: -10px;
        content: "-";
        color: #003e67; }

#resume ul li h4 {
  color: #003e67; }

#resume ul li h5 {
  font-style: italic;
  color: #333333; }

#folio section h2 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.8rem;
  margin: 10px 0; }

.folio-img {
  height: 200px;
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: 1px #003e67 solid;
  border-radius: 10px; }

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default; }

@media(max-width: 950px) {
  body {
    font-weight: 300; }

  #left-half {
    position: relative;
    float: left;
    width: 100%;
    min-height: 100vh; }

  #right-half {
    width: 94%; }

  .arrow {
    right: 43.5%;
    width: 8%; } }
@media(max-width: 400px) {
  html, body {
    font-weight: bold; } }

/*# sourceMappingURL=style.css.map */
